<h1>ברוכים הבאים לאפליקציית ניהול מוסד</h1>
<h2>באפליקציה משוכללת זו תוכלו לנהל את הפרטים שלכם ושל תלמידיכם בקלות ובנוחות</h2>
<h3>בהצלחה ובהנאה!</h3>
<ul>
    <!-- יצירת קישור באנגולר, את המען של הקישור יש לכתתוב בתוך המאפיין routerLink
        ובתוכו לכתוב את התוכן
        הכתובת של הקישור חייבת להיות זהה למה שמוגדר בתוך המערך של ה routes
    -->
    <li> <a routerLink="/staff"  routerLinkActive="active"> staff </a> </li>
    <li> <a routerLink="/students"  routerLinkActive="active"> students </a> </li>
  </ul>
<router-outlet></router-outlet>
